@import "tailwindcss";

@layer base {
  :root {
    --background: #0B0324;
    --foreground: #ffffff;
  }
}

@theme {
  --spacing-none: 0px;
  --spacing-xs: 1px;
  --spacing-sm: 2px;
  --spacing-md: 4px;
  --spacing-lg: 8px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;

  --color-background: #0B0324;
  --color-foreground: #ffffff;

  --color-pink-100: #F7F0FB;
  --color-pink-200: #EFD8FF;
  --color-pink-300: #E0BEF6;
  --color-pink-400: #BE89E2;
  --color-pink-500: #AE8BDB;
  --color-pink-600: #8749AF;
  --color-pink-700: #5B2C79;
  --color-pink-800: #38194D;
  --color-pink-900: #220B31;

  --color-purple-100: #ECE8F8;
  --color-purple-200: #c4b8e9;
  --color-purple-300: #A895DE;
  --color-purple-400: #8065CF;
  --color-purple-500: #5836BC;
  --color-purple-600: #4119B8;
  --color-purple-700: #250E6B;
  --color-purple-800: #16064A;
  --color-purple-900: #0E042B;

  --color-cyan-100: #FBFEFF;
  --color-cyan-200: #EEFAFF;
  --color-cyan-300: #D9F5FF;
  --color-cyan-400: #B0DDED;
  --color-cyan-500: #82C1D8;
  --color-cyan-600: #5092A9;
  --color-cyan-700: #25718B;
  --color-cyan-800: #104759;
  --color-cyan-900: #06212B;

  --color-neutral-100: #F4F4F4;
  --color-neutral-200: #CAC9D8;
  --color-neutral-300: #9F9DB9;
  --color-neutral-400: #7D7B93;
  --color-neutral-500: #57556C;
  --color-neutral-600: #343247;
  --color-neutral-700: #212030;
  --color-neutral-800: #171621;
  --color-neutral-900: #0F0E18;

  --color-system-green-100: #EDFBF3;
  --color-system-green-200: #C7F3DB;
  --color-system-green-300: #85e6b1;
  --color-system-green-400: #49D98A;
  --color-system-green-500: #32B870;
  --color-system-green-600: #148949;
  --color-system-green-700: #10502C;
  --color-system-green-800: #0B3725;
  --color-system-green-900: #022215;

  --color-system-yellow-100: #fffeed;
  --color-system-yellow-200: #FFFAC6;
  --color-system-yellow-300: #FDF499;
  --color-system-yellow-400: #FFED66;
  --color-system-yellow-500: #FDDF39;
  --color-system-yellow-600: #D9B215;
  --color-system-yellow-700: #715C06;
  --color-system-yellow-800: #463802;
  --color-system-yellow-900: #312700;

  --color-system-red-100: #FCEDED;
  --color-system-red-200: #F6C7C7;
  --color-system-red-300: #F2ACAC;
  --color-system-red-400: #EC8686;
  --color-system-red-500: #EB5C5C;
  --color-system-red-600: #BE3434;
  --color-system-red-700: #8D2828;
  --color-system-red-800: #5E1616;
  --color-system-red-900: #3A0707;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer components {
    /* display */
  .text-display-lg {
    font-family: "Spline Sans", sans-serif;
    font-size: 64px;
    line-height: 120%;
    font-weight: 700; 
  }
  .text-display-md {
    font-family: "Spline Sans", sans-serif;
    font-size: 48px;
    line-height: 120%;
    font-weight: 700;
  }
  .text-display-sm {
    font-family: "Spline Sans", sans-serif;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
  }

  /* heading */
  .text-heading-lg {
    font-family: "Spline Sans", sans-serif;
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
  }
  .text-heading-md {
    font-family: "Spline Sans", sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
  }
  .text-heading-sm {
    font-family: "Spline Sans", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
  }
  .text-heading-xs {
    font-family: "Spline Sans", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
  }

  /* body */
  .text-body-lg {
    font-family: "Spline Sans", sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }
  .text-body-md {
    font-family: "Spline Sans", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }
  .text-body-sm {
    font-family: "Spline Sans", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
  }
  .text-body-lg-bold {
    font-family: "Spline Sans", sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
  }
  .text-body-md-bold {
    font-family: "Spline Sans", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
  }
  .text-body-sm-bold {
    font-family: "Spline Sans", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 700;
  }

  /* accent */
  .text-accent-md {
    font-family: "Ozanium", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }
  .text-accent-sm {
    font-family: "Ozanium", sans-serif;
    font-size: 14px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }
  .text-accent-xs {
    font-family: "Ozanium", sans-serif;
    font-size: 12px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Spline Sans", sans-serif;
  margin: 0;
}