@import "tailwindcss";

@layer base {
  :root {
    --background: #171621;
    --foreground: #ffffff;
  }
}

@theme {
  --spacing-none: 0px;
  --spacing-xs: 1px;
  --spacing-sm: 2px;
  --spacing-md: 4px;
  --spacing-lg: 8px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;

  --color-background: #0b0324;
  --color-foreground: #ffffff;

  --color-pink-100: #f7f0fb;
  --color-pink-200: #efd8ff;
  --color-pink-300: #e0bef6;
  --color-pink-400: #be89e2;
  --color-pink-500: #ae8bdb;
  --color-pink-600: #8749af;
  --color-pink-700: #5b2c79;
  --color-pink-800: #38194d;
  --color-pink-900: #220b31;

  --color-purple-100: #ece8f8;
  --color-purple-200: #c4b8e9;
  --color-purple-300: #a895de;
  --color-purple-400: #8065cf;
  --color-purple-500: #5836bc;
  --color-purple-600: #4119b8;
  --color-purple-700: #250e6b;
  --color-purple-800: #16064a;
  --color-purple-900: #0e042b;

  --color-cyan-100: #fbfeff;
  --color-cyan-200: #eefaff;
  --color-cyan-300: #d9f5ff;
  --color-cyan-400: #b0dded;
  --color-cyan-500: #82c1d8;
  --color-cyan-600: #5092a9;
  --color-cyan-700: #25718b;
  --color-cyan-800: #104759;
  --color-cyan-900: #06212b;

  --color-neutral-100: #f4f4f4;
  --color-neutral-200: #cac9d8;
  --color-neutral-300: #9f9db9;
  --color-neutral-400: #7d7b93;
  --color-neutral-500: #57556c;
  --color-neutral-600: #343247;
  --color-neutral-700: #212030;
  --color-neutral-800: #171621;
  --color-neutral-900: #0f0e18;

  --color-system-green-100: #edfbf3;
  --color-system-green-200: #c7f3db;
  --color-system-green-300: #85e6b1;
  --color-system-green-400: #49d98a;
  --color-system-green-500: #32b870;
  --color-system-green-600: #148949;
  --color-system-green-700: #10502c;
  --color-system-green-800: #0b3725;
  --color-system-green-900: #022215;

  --color-system-yellow-100: #fffeed;
  --color-system-yellow-200: #fffac6;
  --color-system-yellow-300: #fdf499;
  --color-system-yellow-400: #ffed66;
  --color-system-yellow-500: #fddf39;
  --color-system-yellow-600: #d9b215;
  --color-system-yellow-700: #715c06;
  --color-system-yellow-800: #463802;
  --color-system-yellow-900: #312700;

  --color-system-red-100: #fceded;
  --color-system-red-200: #f6c7c7;
  --color-system-red-300: #f2acac;
  --color-system-red-400: #ec8686;
  --color-system-red-500: #eb5c5c;
  --color-system-red-600: #be3434;
  --color-system-red-700: #8d2828;
  --color-system-red-800: #5e1616;
  --color-system-red-900: #3a0707;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer components {
  /* display */
  .text-display-lg {
    font-family: "Spline Sans", sans-serif;
    font-size: 64px;
    line-height: 120%;
    font-weight: 700;
  }
  .text-display-md {
    font-family: "Spline Sans", sans-serif;
    font-size: 48px;
    line-height: 120%;
    font-weight: 700;
  }
  .text-display-sm {
    font-family: "Spline Sans", sans-serif;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
  }

  /* heading */
  .text-heading-lg {
    font-family: "Spline Sans", sans-serif;
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
  }
  .text-heading-md {
    font-family: "Spline Sans", sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
  }
  .text-heading-sm {
    font-family: "Spline Sans", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
  }
  .text-heading-xs {
    font-family: "Spline Sans", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
  }

  /* body */
  .text-body-lg {
    font-family: "Spline Sans", sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }
  .text-body-md {
    font-family: "Spline Sans", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }
  .text-body-sm {
    font-family: "Spline Sans", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
  }
  .text-body-mascot {
    color: #fff;
    text-align: center;
    font-family: var(--font-family-body, "Spline Sans");
    font-size: 12.009px;
    font-style: normal;
    font-weight: var(--font-weight-regular, 400);
    line-height: 140%; /* 16.812px */
  }

  .text-body-lg-bold {
    font-family: "Spline Sans", sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
  }
  .text-body-md-bold {
    font-family: "Spline Sans", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
  }
  .text-body-sm-bold {
    font-family: "Spline Sans", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 700;
  }

  /* accent */
  .text-accent-lg {
    font-family: "Oxanium", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }

  .text-accent-md {
    font-family: "Oxanium", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }
  .text-accent-sm {
    font-family: "Oxanium", sans-serif;
    font-size: 14px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }
  .text-accent-xs {
    font-family: "Oxanium", sans-serif;
    font-size: 12px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
  }

  /*mascot font*/
  .text-jocky-normal {
    font-family: var(--font-jocky);
    font-size: 125.22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 175.308px */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Spline Sans", sans-serif;
  margin: 0;
}
